.container {
	width: 100%;
	background-color: var(--bg-color-page);
}

.containerOffersAndTitle {
	width: var(--max-width);
	margin: 0 auto;
	padding: 40px 0;
}
.containerOffers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
